%nav
  %h3
    %a(href="#") Dinner Dash
  %a(href="#") All Items
  %input(name="username" type="text" placeholder="username")
  %input(name="password" type="text" placeholder="password")
  %button(type="button") Sign in
  %button(type="button") Register
  %p  Welcome, john.doe@example.com
  %select(name="select")
    %option
      Sign in/Sign out
    %option
      Cart
    %option
      Profile

