%section.account.container
   .row
      .col-sm-10.col-sm-offset-1
         %article
            %header
               %h1 Account
            %h3 User Profile
            .row
               %h5 Email:
               %p john.doe@example.com
            .row
               %h5 Account Type:
               %p Customer

            %table.table.table-striped
               %thead
                  %tr
                     %th(width='25%') Date Ordered
                     %th(width='25%') Order ID
                     %th(width='25%') Total ($)
               %tbody
                  - 5.times do
                     %tr
                        %td
                           = link_to "01/01/2015"
                        %td
                           = link_to "12345568"
                        %td
                           = link_to "$12.00"
%section.user_account_actions.container
.row
   .col-sm-10.col.sm-offset-4
      %input(type="submit" value="Update Account" class="btn btn-primary")
      %input(type="submit" value="Delete Account" class="btn btn-danger")














