%section.admin_category
  %header
    %h1 Admin Dashboard
    %h3 Categories
  %section
    %ul
      %li
        %a(href="#") Dashboard
        %a(href="#") Items
        %a(href="#") Categories
        %a(href="#") Orders
        %a(href="#") Sales
    %a(href="#") Add Category
    %select(name="select")
      %option
        Edit
      %option
        Delete
    %section
    %table
      %tr
        %th Category Position
        %th Name
        %th Last Updated
        %th No. of Items
      %tr
        %td 1
        %td Savory
        %td 01/01/2015
        %td 5

      %tr
        %td 2
        %td Appetizer
        %td 01/01/2015
        %td 3

    %button(type="submit") Save


