%article.admin_nav
  %ul(class="nav nav-tabs")
    %li(role="presentation")
      %a(href="/ui/admin_dashboard") Dashboard
    %li(role="presentation")
      %a(href="/ui/admin_items") Items
    %li(role="presentation" class="active")
      %a(href="/ui/admin_categories") Categories
    %li(role="presentation")
      %a(href="/ui/admin_orders") Orders
    %li(role="presentation")
      %a(href="/ui/admin_sales") Sales

%article.admin_add_category
  %header
    %h3 Admin: Categories
  %ul(class="nav nav-pills")
    %li(role="presentation")
      %a(href="/ui/admin_categories") All
    %li(role="presentation" class="active")
      %a(href="/ui/admin_add_category") Add
  .container
    %form.form-horizontal
      %fieldset
        .form-group
          %label.control-label.col-sm-3  Category Name
          .col-sm-6
            %input.form-control(name="category" type="text" placeholder="category name")
          %fieldset.actions.form-group
            .col-sm-6
              %button(type="submit" class="btn btn-success") Add
