%article.admin_dashboard
  %ul(class="nav nav-tabs")
    %li(role="presentation" class="active")
      %a(href="/ui/admin_dashboard") Dashboard
    %li(role="presentation")
      %a(href="/ui/admin_items") Items
    %li(role="presentation")
      %a(href="/ui/admin_categories") Categories
    %li(role="presentation")
      %a(href="/ui/admin_orders") Orders
    %li(role="presentation")
      %a(href="/ui/admin_sales") Sales
%article.admin-nav
  %header
    %h3 Admin Dashboard
  %button(class="btn btn-success pull-right")Items
  %button(class="btn btn-info pull-right")Categories
  %button(class="btn btn-warning pull-right")Orders
  %button(class="btn btn-danger pull-right")Sales
  %button(class="btn btn-default pull-right")Reports
  %button(class="btn btn-primary pull-right")All
%section.admin_orders
  .container
    %h3 Orders
    %table(class="table table-striped")
      %tr
        %th Order ID
        %th Date
        %th Order Total ($)
        %th Customer
        %th Status
        %th Last Updated
        %th Type
      %tr
        %td 123456
        %td 01/01/2015
        %td $12.00
        %td Guest
        %td Delivered
        %td 01/01/2016
        %td Online
      %tr
        %td 123456
        %td 01/01/2015
        %td $12.00
        %td Guest
        %td Delivered
        %td 01/01/2016
        %td Online
      %tr
%br
  %section.admin_add_category
    %header
      %h3 Admin: Categories
    %article.admin_add_category
  %header
    %h3 Admin: Categories
  %ul(class="nav nav-pills")
    %li(role="presentation" class="active")
      %a(href="/ui/admin_categories") All
    %li(role="presentation")
      %a(href="/ui/admin_add_category") Add
  .container
    %table(class="table table-striped")
      %tr
        %th Category Position
        %th Name
        %th Last Updated
        %th No. of Items
        %th Edit
        %th Delete
      %tr
        %td 2
        %td Appetizer
        %td 01/01/2015
        %td 3
        %td
          %button(type="submit" class="btn btn-warning") Edit
        %td
          %button(class="btn btn-danger" type="submit") Delete
