%article.admin_nav
  %ul(class="nav nav-tabs")
    %li(role="presentation")
      %a(href="/ui/admin_dashboard") Dashboard
    %li(role="presentation" class="active")
      %a(href="/ui/admin_items") Items
    %li(role="presentation")
      %a(href="/ui/admin_categories") Categories
    %li(role="presentation")
      %a(href="/ui/admin_orders") Orders
    %li(role="presentation")
      %a(href="/ui/admin_sales") Sales

%article.admin_add_category
  %header
    %h3 Admin: Items
  %ul(class="nav nav-pills")
    %li(role="presentation")
      %a(href="/ui/admin_items") All
    %li(role="presentation")
      %a(href="/ui/admin_add_item") Add
    %li(role="presentation" class="active")
      %a(href="/ui/admin_add_item") Edit
  .container
    %form.form-horizontal
      %br
      %fieldset
        .form-group
          %label.control-label.col-sm-3 Item ID
          .col-sm-6
            %input.form-control(type="text")
        .form-group
          %label.control-label.col-sm-3 Name
          .col-sm-6
            %input.form-control
        .form-group
          %label.control-label.col-sm-3 Price
          .col-sm-6
            %input.form-control
        .form-group
          %label.control-label.col-sm-3 Categories
          .col-sm-6
            %select.form-control
        .form-group
          %label.control-label.col-sm-3 Description
          .col-sm-6
            %textarea.form-control(rows="8")
        .form-group
          %label.control-label.col-sm-3 Large Cover
          .col-sm-6
            %col.btn.btn-file
              %input.form-control(type="file")
          %fieldset.actions.form-group
            .col-sm-6.col-md-offset-3
            %input(type="submit" value="Update Item" class="btn btn-success")
