%section.admin_category
  %header
    %h1 Admin Dashboard
    %h3 Categories
    %h4 Add Category
  %section
  %ul
    %li
      %a(href="#") Dashboard
      %a(href="#") Items
      %a(href="#") Categories
      %a(href="#") Orders
      %a(href="#") Sales
  %section
    %p Name
    %input(name="category" type="text" placeholder="category name")
  %button(type="submit") Save

