%section
  %header
    %h1 Cart
    %h3 Here's your order:


%section
  %table
    %tr
      %th Quantity
      %th Name
      %th Category
      %th Price ($)
    %tr
      %td 1
      %td Tofu Dog
      %td Savory
      %td $12.00
    %tr
      %td 4
      %td Tofu Dog
      %td Appetizer
      %td $48.00
  %h5 Delivery Fee: $5.00
  %h5 Subtotal: $50.00
  %h5 Tax: 5.00
  %h4 Total: $60.00
  %button(type="submit") Checkout
  %a(href="#") Continue Ordering
