%article.item
  .description-image
    %img(src="http://placehold.it/750x500")
  .description
    %h1 Black Bean Burger
    %h3 $11.99
    %h4 Description
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at convallis nulla, nec pretium felis. Cras porttitor, elit sit amet tincidunt efficitur, dui leo facilisis lectus, eu consequat sem lectus ut nibh. Mauris sem dolor, lacinia vel mi a, faucibus dignissim turpis. Vivamus vulputate auctor cursus. Aliquam nibh eros, lobortis vel finibus a, porta id ligula. Cras efficitur in massa non pulvinar. Vivamus ultricies et nunc ac congue. Maecenas vitae scelerisque libero, vitae facilisis sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque accumsan, nunc vitae pulvinar porttitor, elit libero feugiat nisl, quis ultricies lectus dui in ipsum. Sed pulvinar congue magna, non interdum nulla pellentesque vel. Aliquam sit amet tortor vel tortor ullamcorper porttitor a ut enim. Quisque sit amet velit convallis, dapibus turpis feugiat, scelerisque nibh. Integer vitae facilisis massa, dignissim maximus mi. Nulla mattis tortor nec eros finibus vehicula.
  .item-add
    %button(type="submit" value="Add to Cart" class="btn-orange") Order

