%section.register
   %form
      %header
         %h1 Register
         %fieldset
            .row
               %label Email Address
               %input(type="email")
            .row
               %label Password
               %input(type="password")
            .row
               %label Confirm Password
               %input(type="password confirmation")
         %fieldset
            %button(type="submit" value="Sign Up") Sign Up

