%section.user_profile
   %article
      %header
         %h1 User Profile
      .row
         %h5 Username (Email)
         %p john@example.com
      .row
         %h5 Password
         %input(name="username" type="text" placeholder="password")
      .row
         %h5 Delivery Address
         %p 1234 Prospect Pl, Washington, DC 20009
      .row
         %h5 Cell Phone
         %p (202)555-5555
      %fieldset
         %a(href="#") Continue Ordering
         %button(type="submit") Update
         %button(type="submit") Delete Account
