html
  height: 100%
body
  background-color: #E1E1E1
  background-image: url('ddbackground.jpeg')
  background-size: 100%
  background-repeat: no-repeat
  background-attachment: fixed
  font-family: 'Raleway', sans-serif
  min-height: 100%
  margin-top: 60px
  margin-bottom: 200px


  a
    color: #ec780a
    text-decoration: none

  section
    padding: 25px
    padding-bottom: 50px
    border-bottom: 3px solid #f4851b
    margin-bottom: 20px
    margin: auto
    width: 1260px
    border: 2px #E1E1E1
    border-radius: 15px
    background: rgba(239,239,242,0.8)
    overflow: auto
    h1
      font-size: 48px
    h2
      font-size: 40px
    h3
      font-size: 32px
    h4
      font-size: 24px
    h5
      font-size: 16px
    h6
      font-size: 8px
    a
      text-decoration: none
      &:hover
        color: #000000
        text-decoration: none


    ul.nav.nav-pills
      margin: 10px auto



fieldset.actions
  input[type="submit"]
    margin-right: 10px
